{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Information",
      "Microsoft.EntityFrameworkCore.Database.Command": "Warning"
    }
  },
  "Minio": {
    "AccessKey": "<статический-ключ-сервисного-аккаунта-Yandex>",
    "SecretKey": "<секрет-ключа-Yandex>"
  },
  "Telegram": {
    "Enabled": true,
    "BotToken": "<токен-от-BotFather>"
  }
}
